@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display');

body {
    background-image: url("images/bground.jpg");
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    font-family: "Red Hat Display", sans-serif;
}

.container {
    background-color: #fdf5e2;
    border-radius: 10px;
    min-height: 5%;
    width: 60%;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h1 {
    font-size: 2rem;
}

.button, button {
    display: flex;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.heading {
text-align: center;
}